<ion-view view-title="{{get.name}}">


  <ul class="tabs tabs-positive tabs-striped tabs-icon-top" >
    <li ng-repeat="tab in tabs" ng-click="makeActive($index)"
        class="tab-item" ng-class="{active:isActive($index)}"  >
      <i class="icon jr-icon i-{{tab.icon}}"></i>
      {{tab.date | isoFix | date: 'EEE'}}
    </li>
  </ul>

<!--  <ion-content class="has-tabs">-->

  <ion-scroll paging="true" direction="x" class="forecast-container has-tabs has-header" >
     <div class="forecast-float" style="">

      <section class="forecast-tile">
        DAY {{view.date | isoFix | date: "EEE dd MMM"}}
      </section>
      <section class="forecast-tile" >
NIGHT
      </section>
    </div>
  </ion-scroll>
<!--      </ion-content>-->

</ion-view>
