<ion-view view-title="{{get.name}}">


  <ul class="tabs tabs-positive tabs-striped tabs-icon-top" >
    <li ng-repeat="tab in tabs" ng-click="makeActive($index)"
        class="tab-item" ng-class="{active:isActive($index)}"  >
      <i class="jr-icon i-{{tab.icon}}"></i>
      {{tab.date | isoFix | date: 'EEE'}}
    </li>
  </ul>

<!--  <ion-content class="has-tabs">-->

  <ion-scroll paging="true" direction="x"
              class="forecast-container has-tabs has-header" >
     <div class="forecast-float" style="">

      <section class="forecast-tile" ng-repeat="report in view.imgs">
        {{view.date | isoFix | date: "EEE dd MMM"}}<br>
        {{report.name}}<br>
        {{view.period[$index].$}}
      </section>
    </div>
  </ion-scroll>
<!--      </ion-content>-->

</ion-view>
