

/*weather app overides of ionic classes
.grade-b .menu-content,
.grade-c .menu-content {
  border-right: 1px solid darken($positive, 20%);
  border-left: 1px solid darken($positive, 20%);
}

/*weather app new elements*/

.forecast-container {
//  border:solid green 1px;
  position:absolute;
  width:100%;
}
.forecast-float {
  width:200%;
 // height:100%;
}
.forecast-tile {
  float:left;
  padding-top: #{$bar-height * 3};
  width:50%;
  height: 100vh;
  //height:300px;
  //background: linear-gradient(to left, black, white );
//  border:solid red 2px;
}

/*jr-icon setup --------------------------------------------------------------------------------*/

$j-cols : 6;
$j-rows : 5;
$jr-icon-scale : 32px;

$j-width : $j-rows * $jr-icon-scale;
$j-height : $j-cols * $jr-icon-scale;
$j-icon-count : $j-cols * $j-rows;

.jr-icon {
  //background-size:50%;
  //background-position: center;
  display: block;
  height: $jr-icon-scale;
  width: $jr-icon-scale;
  margin: 0 auto;
  background-image: url(/img/icons-4.min.svg);
  background-size: $j-height $j-width ;
//  background-repeat: no-repeat;
}

@for $i from 0 through $j-icon-count {
  $j : if($i>5,$i + 1,$i);
  $y: floor($i/($j-rows + 1)) * -$jr-icon-scale;
  $x: $i % ($j-cols) * -$jr-icon-scale;
  .i-#{$j} {
    background-position: $x $y;
  }
}

/* background gradients ------------------------------------------------------------------------*/

.weather-bg {
  position: absolute;
  top:0;
  left:0;
  height:100vh;
  width:100%;
}

$j-bg-grads : (
  Day: (#0c0e3a,#0c386b,#0d649d),
  Night: (#2659ba,#6c9fdb,#afdffa)
  );


@each $time,$colour in $j-bg-grads {
  .#{$time} {
    background-image: linear-gradient(nth($colour,1),nth($colour,3));
  }
}

/*.bg-0 {
  filter: saturate(1.5);
  -webkit-filter: saturate(1.5);
}
.bg-2 {
  filter: saturate(0.8) brightness(1.3);
  -webkit-filter: saturate(0.8) brightness(1.3);
}
.bg-3 {
  filter: saturate(0.4) brightness(1.6);
  -webkit-filter: saturate(0.4) brightness(1.6);
}*/
